# DATABASE_USER=postgres
# DATABASE_HOST=localhost
# DATABASE_NAME=myapp
# DATABASE_PASSWORD=Codeforce@1998
# DATABASE_PORT=5432
# SERVER_PORT=5000
DATABASE_URL=postgresql://postgres:Codeforce%401998@localhost:5432/myapp